<section class="components">
	<div class="container">
		<h2 class="title"><span class="blue">Дифорол</span> эффективен <span class="ib">при непроизвольном</span> мочеиспускании <small class=" components__subtitle">Благодаря лекарственным свойствам самых целебных растений</small></h2>
		
		<div class="components__desc">
			<h3>Настойка из полевого хвоща веками использовалась в Европе.</h3>
			<p><b>Экстракт шалфея</b> и <b>листа толокнянки</b> на 89% усиливают противомикробные свойства <b>Equisétum arvénse,</b> 
				<span class="ib">и на 92%</span> ускоряют восстановление мочеполовой системы от инфекций.</p>
		</div>
		<div class="components__list-1">
			<div class="components__item">
				<div class="components__img-block">
					<img class="components__img-1" src="./img/components__img-1.png" alt="">
				</div>
				<p class="components__caption">Equisétum<br> arvénse</p>
			</div>
			<div class="components__item">
				<div class="components__img-block">
					<img class="components__img-2"  src="./img/components__img-2.png" alt="">
				</div>
				<p class="components__caption">Salvia</p>
			</div>
			<div class="components__item">
				<div class="components__img-block">
					<img  class="components__img-3" src="./img/components__img-3.png" alt="">
				</div>
				<p class="components__caption">Arctostáphylos</p>
			</div>
		</div>
		<h3 class="components__title-list">Дополнительные компоненты для усиления формулы <span class="blue">Дифорола:</span></h3>
		<div class="components__list-2">
			<div class="components__item components__item-1">
				<div class="components__what-do">
					<b>Anéthum</b>
					Снимает воспаления, предотвращает инфекции мочеполовой системы
				</div>
			</div>
			<div class="components__item components__item-2" >
				<div class="components__what-do">
					<b>Achilléa millefólium</b>
					Ускоряет и облегчает процессы <span class="ib">вывода мочи</span>
				</div>
			</div>
			<div class="components__item components__item-3">
				<div class="components__what-do">
					<b>Plantágo</b>
					Повышает иммунитет организма и его сопротивляемость инфекциям, от которых страдает мочеполовая система
				</div>
			</div>
		</div>
		<div class="components__conclusion">
			<p> 
				Именно благодаря комбинации натуральных компонентов <span class="blue">Дифорол</span> быстро помогает 
				<span class="ib">от проблемы</span> непроизвольного мочеиспускания вне зависимости от его причин.
			</p>
		</div>
	</div>
</section>