<section class="days">
	<div class="container">
		<h2 class="title"><span class="blue">Дифорол</span> с первых дней избавит <span class="ib">вас от непроизвольного мочеиспускания</span> 
			<small class="days__subtitle">
				Эффект от препарата усиливается <span class="ib">с каждым</span> <span class="ib">днем приема</span>
			</small>
		</h2>
		<div class="days__list">
			<div class="days__item days__item-1">
				<div class="days__img-block">
					<img class="days__img" src="./img/days__img-1.png" alt="">
				</div>
				<div class="days__duration">1-й день</div>
				<div class="days__desc">
					<h3>Исчезает чувство дискомфорта внизу живота</h3>
					<p>Первое же посещение туалета приносит вам облегчение и полное опорожнение мочевого пузыря. Пропали частые позывы идти <span class="ib">в туалет.</span></p>
				</div>
			</div>
			<div class="days__item days__item-2">
				<div class="days__img-block">
					<img class="days__img" src="./img/days__img-2.png" alt="">
				</div>
				<div class="days__duration">14-й день</div>
				<div class="days__desc">
					<h3>Позывы в пределах <br>нормы</h3>
					<p>Больше нет внезапного желания сходить в туалет, даже если <span class="ib">вы выходите</span> из теплого помещения на холодную улицу, пьете много жидкости или нервничаете.</p>
				</div>
			</div>
			<div class="days__item days__item-3">
				<div class="days__img-block">
					<img class="days__img" src="./img/days__img-3.png" alt="">
				</div>
				<div class="days__duration">30-й день</div>
				<div class="days__desc">
					<h3>Проблема непроизвольного мочеиспускания исчезла</h3>
					<p>Вы живете жизнью здорового человека зная, что проблема осталась в прошлом навсегда.</p>
				</div>
			</div>
		</div>
		<div class="days__conclusion"><p>Всего 1 курс – и вы навсегда забудете <span class="ib">о зависимости</span> <span class="ib">от туалета!</span></p></div>
	</div>
</section>