<section class="doc block" id="doc">
    <div class="container">
        <h2 class="title">Заслуженный врач РФ, Дмитрий Шилов<br> рекомендует <span class="blue">Дифорол</span></h2>
        <div class="doc-content">
            <div class="doc-content__title"><span class="blue">Дифорол</span> — универсальное средство, которое я рекомендую всем при частом<br> мочеиспускании.</div>
            <p class="doc-content__subtitle">
                Я уже сбился со счета, скольких своих пациенток вылечил
                с помощью препарата Дифорол. Счет идет на сотни, это точно.</p>
            <p class="doc-content__subtitle">
                Почему я его рекомендую? Это средство <b>универсальное</b>,<br>
                оно помогает несмотря на причину частых позывов к опорожнению мочевого пузыря. Оно безопасное, состоит только из натуральных компонентов и поэтому у него нет никаких противопоказаний,<br> оно не вызывает аллергических реакций, не имеет побочных эффектов.
               Это <b>эффективное</b> средство. Уже после первого применения 
                у человека пропадает дискомфорт в области мочевого пузыря
                и посещение туалета приносит полное облегчение.</p>
            <p class="doc-content__subtitle mnone">
                <span class="doc-content__subtitle-name">Дмитрий Шилов,</span>
                заслуженный врач РФ, автор научных статей, эксперт в области урологии</p>
                <img src="img/signature.png" alt="" class="doc-content__signature">
        </div>
        <div class="doc__img"><img src="img/doctor.png" alt=""><div class="doc__img-name">Дмитрий <br>Шилов</div></div>
    </div>
</section>