<section class="newlife block">
	<div class="container">
		<div class="title">Как изменится ваша жизнь<br> после избавления от проблем с мочеиспусканием</div>
		<div class="newlife-content">
			<div class="newlife-content-box">
				<div class="newlife-content-box__img"><img src="img/life1.png" alt=""></div>
				<div class="newlife-content-box__text">Вы спокойно спите ночью, <br>а не встаете по несколько раз <br>для похода в туалет</div>
			</div>
			<div class="newlife-content-box">
				<div class="newlife-content-box__img newlife-content-box__img2"><img src="img/life2.png" alt=""></div>
				<div class="newlife-content-box__text">Вы больше не бегаете по несколько <br>раз в туалет, когда волнуетесь</div>
			</div>
			<div class="newlife-content-box">
				<div class="newlife-content-box__img newlife-content-box__img3"><img src="img/life3.png" alt=""></div>
				<div class="newlife-content-box__text">Вы можете пить много жидкости <br>и ни о чем не беспокоиться</div>
			</div>
			<div class="newlife-content-box">
				<div class="newlife-content-box__img newlife-content-box__img4"><img src="img/life4.png" alt=""></div>
				<div class="newlife-content-box__text">Вы можете пить много жидкости<br> и ни о чем не беспокоиться</div>
			</div>
			<div class="newlife-content-box">
				<div class="newlife-content-box__img newlife-content-box__img5"><img src="img/life5.png" alt=""></div>
				<div class="newlife-content-box__text">Вы можете спокойно сидеть в кино, театре и на других мероприятиях, не волнуясь, <br>что придется по много раз ходить в туалет</div>
			</div>
			<div class="newlife-content-box">
				<div class="newlife-content-box__img newlife-content-box__img6"><img src="img/life6.png" alt=""></div>
				<div class="newlife-content-box__text">Вы больше не чувствуете себя больным человеком - вы можете планировать <br>и реализовывать свою жизнь</div>
			</div>
		</div>
		<div class="newlife-btitle">За 2018 год уже 15436 женщин уже избавились от непроизвольного мочеиспускания.</div>
		<div class="newlife-bsubtitle"><span class="blue">Дифорол</span> поможет и вам!</div>
		<div class="newlife-form">
			<div class="newlife-form-pack"><img src="img/prod.png" alt="pack"></div>
			<div class="newlife-form-price">
				<div class="newlife-oldprice">
					<div class="newlife-oldprice__title">Старая цена</div>
					<div class="newlife-oldprice__value x_price_previous">1980</div>
					<div class="newlife-oldprice__current x_currency">руб.</div>
				</div>
				<div class="newlife-newprice">
					<div class="newlife-newprice__title">Новая цена</div>
					<div class="newlife-newprice__value x_price_current">990</div>
					<div class="newlife-newprice__current x_currency">руб.</div>
				</div>
			</div>
			 <form method="POST" action="/submit" class="newlife-form-box x_order_form">
			 	<label class="form__label-name form__label" for="header__form-name">
						<input class="form__input form__input-name" id="header__form-name" type="text" name="name" required autocomplete="name" placeholder="Моё имя">
					</label>
					<label class="form__label-tel form__label" for="header__form-tel">
						<input class="form__input form__input-tel" id="header__form-tel" type="tel" name="phone" required autocomplete="tel" placeholder="Мой телефон">
					</label>
					<button class="btn" type="submit">
						<span>
							Заказать
							<small class="btn__small">со скидкой</small>
						</span>
					</button>
			 </form>
		</div>
	</div>
</section>