<section class="newlife block">
	<div class="container">
		<div class="title">Как изменится ваша жизнь<br> после избавления от проблем с мочеиспусканием</div>
		<div class="newlife-content">
			<div class="newlife-content-box">
				<div class="newlife-content-box__img"><img src="img/life1.png" alt=""></div>
				<div class="newlife-content-box__text">Вы спокойно спите ночью, <br>а не встаете по несколько раз <br>для похода в туалет</div>
			</div>
			<div class="newlife-content-box">
				<div class="newlife-content-box__img"><img src="img/life2.png" alt=""></div>
				<div class="newlife-content-box__text">Вы больше не бегаете по несколько <br>раз в туалет, когда волнуетесь</div>
			</div>
			<div class="newlife-content-box">
				<div class="newlife-content-box__img"><img src="img/life3.png" alt=""></div>
				<div class="newlife-content-box__text">Вы можете пить много жидкости <br>и ни о чем не беспокоиться</div>
			</div>
			<div class="newlife-content-box">
				<div class="newlife-content-box__img"><img src="img/life4.png" alt=""></div>
				<div class="newlife-content-box__text">Вы можете пить много жидкости<br> и ни о чем не беспокоиться</div>
			</div>
			<div class="newlife-content-box">
				<div class="newlife-content-box__img"><img src="img/life5.png" alt=""></div>
				<div class="newlife-content-box__text">Вы можете спокойно сидеть в кино, театре и на других мероприятиях, не волнуясь, <br>что придется по много раз ходить в туалет</div>
			</div>
			<div class="newlife-content-box">
				<div class="newlife-content-box__img"><img src="img/life6.png" alt=""></div>
				<div class="newlife-content-box__text">Вы больше не чувствуете себя больным человеком - вы можете планировать <br>и реализовывать свою жизнь</div>
			</div>
		</div>
		<div class="newlife-btitle">За 2018 год уже 15436 женщин уже избавились от частого мочеиспускания.</div>
		<div class="newlife-bsubtitle">Дифорол поможет и вам!</div>
	</div>
</section>