<section class="orus block">
	<div class="container">
		<h2 class="title">Как применять <span class="blue">Дифорол</span></h2>
		<div class="orus-top">
			<div class="orus-top-boximg">
				<img class="orus-top-boximg__use" src="img/use.png" alt="use">
				<img class="orus-top-boximg__prod" src="img/prod.png" alt="prod">
			</div>
			<div class="orus-top-instruction">
				<div class="orus-top-instruction__small">1 чайная ложка <span class="blue">Дифорола</span> в день позволит навсегда<br> избавиться от непроизвольного частого <br>мочеиспускания.</div>
				<div class="orus-top-instruction__big">*Курс лечения длится <span class="nowrap">1 - 1,5 месяца</span></div>
			</div>
		</div>
		<div class="orus-line"></div>
		<h2 class="title">Как заказать</h2>
		<div class="orus-bottom">
			<div class="orus-bottom-box orus-bottom-box1">
				<div class="orus-bottom-box1__img orus-bottom-box__img"><img src="img/order1.png" alt="order"></div>
				<div class="orus-bottom-box__text">Оставляете заявку<br> в форме заказа</div>
			</div>
			<div class="orus-bottom-box orus-bottom-box2">
				<div class="orus-bottom-box2__img orus-bottom-box__img"><img src="img/order2.png" alt="order"></div>
				<div class="orus-bottom-box__text">Наш оператор перезвонит <br>для уточнения всех деталей</div>
			</div>
			<div class="orus-bottom-box orus-bottom-box3">
				<div class="orus-bottom-box3__img orus-bottom-box__img"><img src="img/order3.png" alt="order"><!-- <div class="prod-name">Дифорол</div> --></div>
				<div class="orus-bottom-box__text">Оплата товара только<br> после получения</div>
			</div>
		</div>
		<div class="orus-lock">Доставка производится анонимно в непрозрачной упаковке</div>
	</div>
</section>
