<section class="problem">
	<div class="container">
		<h2 class="title">
			Вам знакомо ощущение, <span class="ib">что жизнь</span> проходит <span class="ib">в туалете?</span>
		</h2>
		<div class="problem__list">
			<div class="problem__item">
				<div class="problem__img">
					<img src="./img/problem__img-1.jpg" alt="">
					<div class="problem__circle"></div>
				</div>
				<div class="problem__desc">
					<span class="problem__count"><span class="problem__number">1</span></span>
					<p class="problem__text">
						Постоянный дискомфорт <span class="ib">и боль</span> внизу живота <span class="ib">при мочеиспускании</span>
					</p>
				</div>
			</div>
			<div class="problem__item">
				<div class="problem__img">
					<img src="./img/problem__img-2.jpg" alt="">
					<div class="problem__circle"></div>
				</div>
				<div class="problem__desc">
					<span class="problem__count"><span class="problem__number">2</span></span>
					<p class="problem__text">
						Знакомые и сотрудники считают, что вы больны, <span class="ib">и сторонятся вас</span>
					</p>
				</div>
			</div>
			<div class="problem__item">
				<div class="problem__img">
					<img src="./img/problem__img-3.jpg" alt="">
					<div class="problem__circle"></div>
				</div>
				<div class="problem__desc">
					<span class="problem__count"><span class="problem__number">3</span></span>
					<p class="problem__text">
						Ваши постоянные походы <span class="ib">в туалет</span> раздражают <span class="ib">вас и ваших близких</span>
					</p>
				</div>
			</div>
			<div class="problem__item">
				<div class="problem__img">
					<img src="./img/problem__img-4.jpg" alt="">
					<div class="problem__circle"></div>
				</div>
				<div class="problem__desc">
					<span class="problem__count"><span class="problem__number">4</span></span>
					<p class="problem__text">
						Страшно отправиться <span class="ib">на прогулку,</span> чихнуть, засмеяться, поднять тяжелое – и не удержаться
					</p>
				</div>
			</div>
		</div>
		<div class="problem__bottom">
			<p>Непроизвольное  мочеиспускание портит <span class="ib">вам жизнь?</span> <span class="ib">Решение есть!</span></p>
		</div>
	</div>
</section>