<section class="problem">
	<div class="container">
		<h2 class="title">
			Вам знакомо ощущение, <span class="ib">что жизнь</span> проходит в туалете?
		</h2>
		<div class="problem__list">
			<div class="problem__item">
				<div class="problem__img">
					<img src="./img/problem__img-1.jpg" alt="">
					<div class="problem__circle"></div>
				</div>
				<div class="problem__desc">
					<span class="problem__count"><span class="problem__number">1</span></span>
					<p class="problem__text">
						Постоянный дискомфорт <span class="ib">и боль</span> внизу живота <span class="ib">при мочеиспускании</span>
					</p>
				</div>
			</div>
			<div class="problem__item">
				<div class="problem__img">
					<img src="./img/problem__img-2.jpg" alt="">
					<div class="problem__circle"></div>
				</div>
				<div class="problem__desc">
					<span class="problem__count"><span class="problem__number">2</span></span>
					<p class="problem__text">
						Знакомые и сотрудники считают, что вы больны, и сторонятся вас
					</p>
				</div>
			</div>
			<div class="problem__item">
				<div class="problem__img">
					<img src="./img/problem__img-3.jpg" alt="">
					<div class="problem__circle"></div>
				</div>
				<div class="problem__desc">
					<span class="problem__count"><span class="problem__number">3</span></span>
					<p class="problem__text">
						Знакомые и сотрудники считают, что вы больны, и сторонятся вас
					</p>
				</div>
			</div>
			<div class="problem__item">
				<div class="problem__img">
					<img src="./img/problem__img-4.jpg" alt="">
					<div class="problem__circle"></div>
				</div>
				<div class="problem__desc">
					<span class="problem__count"><span class="problem__number">4</span></span>
					<p class="problem__text">
						Страшно отправиться на прогулку, чихнуть, засмеяться, поднять тяжелое – и не удержаться
					</p>
				</div>
			</div>
		</div>
		<div class="problem__bottom">
			<p>Непроизвольное  мочеиспускание портит вам жизнь? Решение есть!</p>
		</div>
	</div>
</section>