<section class="reviews block" id="reviews">
   <div class="container">
      <h2 class="title">Отзывы покупателей</h2>
      <div class="reviews-content">
         <div class="reviews-content-box">
            <div class="reviews-content-box__img"><img src="img/ava1.png" alt="avatar"></div>
            <div class="reviews-content-box__name">Мария Литвинова</div>
            <div class="reviews-content-box__thesis">Помог с первого же дня!</div>
            <div class="reviews-content__body">
            <div class="reviews-content-box__text">Никогда не было проблем с тем, чтобы ходить в туалет по маленькому. А потом простудилась и началось... Могла рассмеяться - и случайно, простите, мокрые штаны обнаружить. <br>
               В больнице посоветовали Дифорол. <br>
               Я врачам не очень доверяю и решила проверить это средство у знакомого фармацевта. Ну, она и сказала, что средство это хорошее и безопасное. Когда с почты его забрала, у меня больничные уже заканчивались <br>
               и на работу было страшно возвращаться. Это ж не работа, когда в туалет постоянно бегаешь. Но все было хорошо, благодаря Дифоролу. Он как оказалось, с первого применения помогает. Ноющие ощущения внизу живота прошли и в туалет нормально хожу. Прошла весь курс и чувствую себя отлично.
            </div>
            </div>
             <div class="reviews-content-box__btn">
               <div class="reviews-content-box__cbtn">
                                    <img src="img/review-arrow.svg" alt="arrow">
                                </div>
            </div>
         </div>
         <div class="reviews-content-box">
            <div class="reviews-content-box__img"><img src="img/ava2.png" alt="avatar"></div>
            <div class="reviews-content-box__name">Анна Иванова</div>
            <div class="reviews-content-box__thesis">Вернула себе комфортную<br> и спокойную жизнь</div>
            <div class="reviews-content-box__text">В какой-то момент я заметила, что стала часто бегать в туалет. Мне это очень мешало и на работе, и дома.
               Я пошла к врачу. Там долго не могли диагностировать проблему мою,
               в итоге объявили синдром слабого мочевого пузыря. Мне легче не стало от этого. Дифорол я купила просто
               по рекламе, и очень рада своему решению. Он мне помог вернуть контроль над мочевым пузырем!
               И даже больше, с тех пор как пропила прошло 2 месяца, а у меня даже насморка не было! Он мне иммунитет поднял.
            </div>
            <div class="reviews-content-box__btn">
               <div class="reviews-content-box__cbtn">
                                    <img src="img/review-arrow.svg" alt="arrow">
                                </div>
            </div>
         </div>
         <div class="reviews-content-box">
            <div class="reviews-content-box__img"><img src="img/ava3.png" alt="avatar"></div>
            <div class="reviews-content-box__name">Лариса Столярова</div>
            <div class="reviews-content-box__thesis">Просто в восторге! <br>Чувствую себя лучше, чем раньше!</div>
            <div class="reviews-content-box__text">Когда у меня после родов начались приступы туалетной зависимости, я сразу накупила себе целую кучу препаратов. Они минимально помогали. В туалет по-маленькому я бегала реже. Но скоро стало хуже, у меня начались проявляться побочные эффекты от тех лекарств. Я испугалась и перестала их принимать и опять стала часто бегать в туалет. Подруга детства приехала в гости и мы на кухне
               за приятной беседой весь вечер провели. Она посмотрела, что я туалет часто бегаю и посоветовала мне дифолор. Сказала, что побочных эффектов у него нет совсем никаких и бояться нечего. Так и произошло. Дифорол меня за курс вернул к жизни нормальной и никаких побочных эффектов.
            </div>
            <div class="reviews-content-box__btn">
               <div class="reviews-content-box__cbtn">
                                    <img src="img/review-arrow.svg" alt="arrow">
                                </div>
            </div>
         </div>
         <div class="reviews-content-box">
            <div class="reviews-content-box__img"><img src="img/ava4.png" alt="avatar"></div>
            <div class="reviews-content-box__name">Дарья Васильева</div>
            <div class="reviews-content-box__thesis">Быстро помогает<br> и очень надолго!</div>
            <div class="reviews-content-box__text">Вожу трамвай, поэтому и мне часто в туалет не то, что не желательно, а просто нереально. Когда заметила, что долго не могу высидеть без туалета побежала к врачу. Та провела обследование и сказала, что это просто на погоду так, не нашла ничего серьезного. Ну я и попросила сына найти мне что-то, чтобы в сырую погоду не думать о туалете. Он Дифорол и нашел. Очень хорошо, что препарат этот сразу действует. Утром выпила его чайную ложку, в туалет пошла, мочевой пузырь облегчила и все хорошо. Никакой беготни, ничего не ноет в животе. Спокойно себе работаешь и живешь как все здоровые люди.</div>
            <div class="reviews-content-box__btn">
               <div class="reviews-content-box__cbtn">
                                    <img src="img/review-arrow.svg" alt="arrow">
                                </div>
            </div>
         </div>
         <div class="reviews-content-box">
            <div class="reviews-content-box__img"><img src="img/ava5.png" alt="avatar"></div>
            <div class="reviews-content-box__name">Инна Колькова</div>
            <div class="reviews-content-box__thesis">Больше не боюсь длинных<br> прогулок</div>
            <div class="reviews-content-box__text">Раньше часто было, что в туалет прибегу, пару капелек мочи и все. А через двадцать минут опять то же самое. Пробовала самые разные лекарства, даже бабушкины методы, но впустую все. Зря деньги и нервы тратила. Про дифолор узнала из онлайн консультации врача. Стоил он недорого. Вот Дифорол мне и помог. Это постоянное ноющее ощущение внизу живота и беготня по туалетам города и офисов закончилась с первых дней применения. Я даже не ожидала такого эффекта! Очень советую его всем туалетозависимым.</div>
            <div class="reviews-content-box__btn">
               <div class="reviews-content-box__cbtn">
                                    <img src="img/review-arrow.svg" alt="arrow">
                                </div>
            </div>
         </div>
         <div class="reviews-content-box">
            <div class="reviews-content-box__img"><img src="img/ava6.png" alt="avatar"></div>
            <div class="reviews-content-box__name">Татьяна Вишковская</div>
            <div class="reviews-content-box__thesis">Проблема решена<br> за месяц!</div>
            <div class="reviews-content-box__text">У женщин есть определенные болезни, про которые и рассказать стыдно, не то что к врачу идти. У меня так было с мочеиспусканием. Бегала дома в туалет, на работе, по дороге на работу или домой. Просто бесила эта ситуация. Очень хотела разобраться без врачей. Они у нас в клинике пенсионеры одни, что они знают? Сестре я еще могу доверять вот ей и позвонила, она в Москве живет и работает. Она мне про дифорол и рассказала. Средство оказалось высший класс! За месяц у меня эти проблемы ушли. Даже если нервничаю, не бегаю в туалет так часто, как раньше.</div>
             <div class="reviews-content-box__btn">
               <div class="reviews-content-box__cbtn">
                                    <img src="img/review-arrow.svg" alt="arrow">
                                </div>
            </div>
         </div>
         <div class="reviews-content-box">
            <div class="reviews-content-box__img"><img src="img/ava7.png" alt="avatar"></div>
            <div class="reviews-content-box__name">Катя Толковая</div>
            <div class="reviews-content-box__thesis">Больше не отвлекаюсь<br> и спокойно занимаюсь делами</div>
            <div class="reviews-content-box__text">Работаю дизайнером. Все было хорошо, до того момента, как почему-то стала часто бегать в туалет. А это жутко раздражало меня. Я не могла сосредоточиться на работе. Только появится идея, или вникну в тему, как нужно отлучиться. Возвращаешься на место - и уже не помнишь, о чем думала! В клинике патологий не нашли, сказали, что у меня это нервное. Посоветовали Дифорол, сказали, что как раз для таких случаев. Я попробовала его и за день этот бегала по нужде только 5 раз! А раньше было по 14 раз! Теперь работаю без проблем и на ерунду не отвлекаюсь.</div>
             <div class="reviews-content-box__btn">
               <div class="reviews-content-box__cbtn">
                                    <img src="img/review-arrow.svg" alt="arrow">
                                </div>
            </div>
         </div>
         <div class="reviews-content-box">
            <div class="reviews-content-box__img"><img src="img/ava8.png" alt="avatar"></div>
            <div class="reviews-content-box__name">Эльвира Донцова</div>
            <div class="reviews-content-box__thesis">Спокойно добираюсь<br> и на работу</div>
            <div class="reviews-content-box__text">Добираться на работу мне два часа. Обычно, это нормально, но если хочется в туалет, то это реально проблема. Утро у меня с кофе начинается, без него не могла проснуться. Но он же мочегонный, напиток этот. Так что, когда еду до работы последние минуты просто чуть ли не бегом до офиса и сразу в туалет. Настроение, так начинать рабочий день не особо. Без кофе не могу, но и ходить в присядку от нужды пописать тоже не хочется. Проблему решила Дифоролом. Утром так же пью кофе, но и ложку этого препарата и до работы еду без тревог, никаких слишком частых позывов нет!</div>
             <div class="reviews-content-box__btn">
               <div class="reviews-content-box__cbtn">
                                    <img src="img/review-arrow.svg" alt="arrow">
                                </div>
            </div>
         </div>
         <div class="reviews-content-box">
            <div class="reviews-content-box__img"><img src="img/ava9.png" alt="avatar"></div>
            <div class="reviews-content-box__name">Юля Краснова</div>
            <div class="reviews-content-box__thesis">Муж больше не ворчит!</div>
            <div class="reviews-content-box__text">С детства часто в туалет бегала. Внимания на это не обращала, привыкла как-то. Но вот свекрови моей этой очередная возможность задеть меня. Даже прозвала меня самогонщицей, добрая она наша. И муж как-то начал ее слушать, что типо с женой его не все впорядке. Ну я и решила, найти средство какое-то, чтобы в туалет не бегать часто. И нашла. Это Дифорол. Теперь часами о туалете и не думаю.</div>
          <div class="reviews-content-box__btn">
               <div class="reviews-content-box__cbtn">
                                    <img src="img/review-arrow.svg" alt="arrow">
                                </div>
            </div>
         </div>
      </div>
   </div>
</section>