.header {
	background-color: #a9daea;
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	padding-top: 39px;
	position: relative;

	&::after {
		content: "";
	    position: absolute;
	    left: 50%;
	    
	    transform: translate(-50%) rotate(180deg);
	    bottom: 0;
	    height: 20px;
	    width: 2660px;
	    background: url(../img/before-bg.svg) no-repeat center;
	    z-index: 0;
	}


	.container {
		position: relative;
		padding-bottom: 74px;
	}

	&__links {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 54px;
	}
	&__link {
		padding-left: 50px;
		position: relative;
		font-size: 17px;
		color: #444;
		max-width: 370px;
		display: flex;
		align-items: center;

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-size: contain;
			background-repeat: no-repeat;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			height: 94%;
			width: 1px;
			background-color: #b1d7e4;
			right: 44px;
			top: 3px;
		}

	}

	&__link-1 {
		margin-right: 33px;
	}

	&__link-2 {
		margin-right: 115px;
	}

	&__link-3 {
		padding-left: 58px;
	}

	&__link-1::before {
		width: 34px;
		height: 37px;
		background-image: url(../img/header__link-1.png);
	}
	&__link-2::before {
		width: 38px;
		height: 38px;
		background-image: url(../img/header__link-2.png);
	}
	&__link-3::before {
		width: 41px;
		height: 33px;
		background-image: url(../img/header__link-3.png);
	}

	&__link-2::after {
		right: -47px;
	}

	&__link-3::after {
		display: none;
	}

	&__dashed {
		display: inline-block;
		line-height: 1.1;
		border-bottom: 1px dashed #83969d;
		width: auto;
		margin-top: 3px;

	}

	&__link a:hover &__dashed {
		border-bottom: none;
		
	}

	&__flex {
		display: flex;
	}

	&__about {
		max-width: 460px;
	}

	&__name-prod {
		font-size: 39px;
	}

	&__title {
		font-size: 50px;
		font-weight: 900;
		color: #202020;
		margin-top: 19px;
		line-height: 0.92;
	}
	&__subtitle {
		font-size: 21px;
		color: #444;
		line-height: 1.34;
		margin-top: 18px;
		max-width: 336px;
	}

	&__list {
		margin-top: 51px;
	}

	&__list li {
		position: relative;
		padding-left: 50px;
		font-size: 20px;
		color: #444;
		line-height: 1.14;
		margin-bottom: 22px;

		b {
			color: #202020;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: -10px;
		}
		&::before {
			
			height: 34px;
			width: 34px;
			border-radius: 50%;
			background-color: #edb440;
			box-shadow: 0px 3px 7px rgba(176, 186, 104, 0.15);
		}
		&::after {
			width: 19px;
			height: 10px;
			border: 4px solid #fff;
			border-right: none;
			border-top: none;
			left: 5px;
			top: -2px;
			transform:  rotate(-45deg);
		}
	}

	&__img {
		position: relative;
		height: 470px;
		width: 370px;
		align-self: flex-end;
		z-index: 10;
	
	}
	&__prod {
		position: absolute;
		height: auto;
		width: 329px;
		top: 170px;
		left: -28px;
	}

	&__woman {
		height: auto;
		width: 554px;
		position: absolute;
		bottom: 19px;
		left: 59%;
		transform: translateX(-50%);
		z-index: 0;
	}

	.form {
		margin-top: 10px;
	}

	.form__pay-after {
		position: absolute;
		bottom: -160px;
		right: 0;
		text-align: left;
		background-color: #fff2d4;
		font-size: 18px;
		font-weight: 500;
		color: #202020;
		line-height: 1.16;
		width: 303px;
		display: flex;
		align-items: center;
		min-height: 56px;
		padding-left: 91px;
		padding-right: 40px;
		border-radius: 30px;
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 31px;
			height: 42px;
			width: 42px;
			background-image: url(../img/form__pay-after.png);
			background-repeat: no-repeat;
			background-size: contain;
		}
		
	}

}


// media

@media all and (max-width: 1200px) {
	.header {
		
	}
}



