.newlife{
	height: 1257px;
	background: url('../img/bg.png') no-repeat center center;
	background-color: #e4f3f9;
	position: relative;
	z-index: 1;
	&:before{
		content: "";
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: 0;
		height: 30px;
		width: 2660px;

		background: url(../img/before-bg.svg) no-repeat center;
		z-index: -1;
	}
	&:after{
		content: "";
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		bottom: 0;
		height: 20px;
		width: 2660px;

		background: url(../img/after-bg.svg) no-repeat center;
		z-index: -1;
	}
}